.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.text-success {
  color: green;
}

.logout:hover {
  cursor: pointer;
}

ul li {
  text-decoration: none;
  list-style: none;
  font-size: 25px;
}
